In [ ]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession.builder.appName("Our First Spark Example").getOrCreate()

spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:11 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,978 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,644 kB]
Get:13 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,116 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [2,566 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,246 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,400 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-backports/universe amd64 Packages [32.2 kB]
Fetched 12.4 MB in 5s (2,382 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
47 packages can be upgraded. Run 'apt list --upgradable' to see them.
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=d6e78b54a3e5265128ad66bb44d85884f9a33357633e3ffec09528441c32986a
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [ ]:
data=[("Alice",25),("Bod",30),("Charlie",35)]
df=spark.createDataFrame(data,["Name","Age"])
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bod| 30|
|Charlie| 35|
+-------+---+

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

WARNING:root:pydrive is deprecated and no longer maintained. We recommend that you migrate your projects to pydrive2, the maintained fork of pydrive

In [ ]:
auth.authenticate_user()
gauth=GoogleAuth()
gauth.credentials=GoogleCredentials.get_application_default()
drive=GoogleDrive(gauth)

In [ ]:
downloaded=drive.CreateFile({'id':"12D7fQjfQJIJn2OBgpLg5ZrNIYGvw6ksP"})
downloaded.GetContentFile('diabetes.csv')

In [ ]:
sc=spark.sparkContext
path="diabetes.csv"
df=spark.read.csv(path)
df.show()

+-----------+-------+-------------+-------------+-------+----+--------------------+---+-------+
|        _c0|    _c1|          _c2|          _c3|    _c4| _c5|                 _c6|_c7|    _c8|
+-----------+-------+-------------+-------------+-------+----+--------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeF...|Age|Outcome|
|          6|    148|           72|           35|      0|33.6|               0.627| 50|      1|
|          1|     85|           66|           29|      0|26.6|               0.351| 31|      0|
|          8|    183|           64|            0|      0|23.3|               0.672| 32|      1|
|          1|     89|           66|           23|     94|28.1|               0.167| 21|      0|
|          0|    137|           40|           35|    168|43.1|               2.288| 33|      1|
|          5|    116|           74|            0|      0|25.6|               0.201| 30|      0|
|          3|     78|           50|           32|     88|  31|               0.248| 26|      1|
|         10|    115|            0|            0|      0|35.3|               0.134| 29|      0|
|          2|    197|           70|           45|    543|30.5|               0.158| 53|      1|
|          8|    125|           96|            0|      0|   0|               0.232| 54|      1|
|          4|    110|           92|            0|      0|37.6|               0.191| 30|      0|
|         10|    168|           74|            0|      0|  38|               0.537| 34|      1|
|         10|    139|           80|            0|      0|27.1|               1.441| 57|      0|
|          1|    189|           60|           23|    846|30.1|               0.398| 59|      1|
|          5|    166|           72|           19|    175|25.8|               0.587| 51|      1|
|          7|    100|            0|            0|      0|  30|               0.484| 32|      1|
|          0|    118|           84|           47|    230|45.8|               0.551| 31|      1|
|          7|    107|           74|            0|      0|29.6|               0.254| 31|      1|
|          1|    103|           30|           38|     83|43.3|               0.183| 33|      0|
+-----------+-------+-------------+-------------+-------+----+--------------------+---+-------+
only showing top 20 rows

In [ ]:
sc=spark.sparkContext
path="diabetes.csv"
df=spark.read.csv(path,header=True)
df.show()

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          6|    148|           72|           35|      0|33.6|                   0.627| 50|      1|
|          1|     85|           66|           29|      0|26.6|                   0.351| 31|      0|
|          8|    183|           64|            0|      0|23.3|                   0.672| 32|      1|
|          1|     89|           66|           23|     94|28.1|                   0.167| 21|      0|
|          0|    137|           40|           35|    168|43.1|                   2.288| 33|      1|
|          5|    116|           74|            0|      0|25.6|                   0.201| 30|      0|
|          3|     78|           50|           32|     88|  31|                   0.248| 26|      1|
|         10|    115|            0|            0|      0|35.3|                   0.134| 29|      0|
|          2|    197|           70|           45|    543|30.5|                   0.158| 53|      1|
|          8|    125|           96|            0|      0|   0|                   0.232| 54|      1|
|          4|    110|           92|            0|      0|37.6|                   0.191| 30|      0|
|         10|    168|           74|            0|      0|  38|                   0.537| 34|      1|
|         10|    139|           80|            0|      0|27.1|                   1.441| 57|      0|
|          1|    189|           60|           23|    846|30.1|                   0.398| 59|      1|
|          5|    166|           72|           19|    175|25.8|                   0.587| 51|      1|
|          7|    100|            0|            0|      0|  30|                   0.484| 32|      1|
|          0|    118|           84|           47|    230|45.8|                   0.551| 31|      1|
|          7|    107|           74|            0|      0|29.6|                   0.254| 31|      1|
|          1|    103|           30|           38|     83|43.3|                   0.183| 33|      0|
|          1|    115|           70|           30|     96|34.6|                   0.529| 32|      1|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 20 rows

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
dfrdd=df.rdd
type(dfrdd)

pyspark.rdd.RDD

In [ ]:
dfrdd.map(lambda c:(c[0],c[1],c[2],c[3])).take(4)

[('6', '148', '72', '35'),
 ('1', '85', '66', '29'),
 ('8', '183', '64', '0'),
 ('1', '89', '66', '23')]

In [ ]:
dfrdd.map(lambda c:(c[0],c[1],c[2],c[3])).filter(lambda c:c[3]=='35').take(5)

[('6', '148', '72', '35'),
 ('0', '137', '40', '35'),
 ('9', '119', '80', '35'),
 ('6', '148', '72', '35'),
 ('0', '137', '40', '35')]

In [ ]:
df.createOrReplaceTempView("diabeticview")
from pyspark.sql import SQLContext
sqlc=SQLContext(sc)
sqlc.sql("select * from diabeticview").show(10)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          6|    148|           72|           35|      0|33.6|                   0.627| 50|      1|
|          1|     85|           66|           29|      0|26.6|                   0.351| 31|      0|
|          8|    183|           64|            0|      0|23.3|                   0.672| 32|      1|
|          1|     89|           66|           23|     94|28.1|                   0.167| 21|      0|
|          0|    137|           40|           35|    168|43.1|                   2.288| 33|      1|
|          5|    116|           74|            0|      0|25.6|                   0.201| 30|      0|
|          3|     78|           50|           32|     88|  31|                   0.248| 26|      1|
|         10|    115|            0|            0|      0|35.3|                   0.134| 29|      0|
|          2|    197|           70|           45|    543|30.5|                   0.158| 53|      1|
|          8|    125|           96|            0|      0|   0|                   0.232| 54|      1|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 10 rows

In [ ]:
sqlc.sql("select Glucose,BloodPressure,SkinThickness from diabeticview").show(10)

+-------+-------------+-------------+
|Glucose|BloodPressure|SkinThickness|
+-------+-------------+-------------+
|    148|           72|           35|
|     85|           66|           29|
|    183|           64|            0|
|     89|           66|           23|
|    137|           40|           35|
|    116|           74|            0|
|     78|           50|           32|
|    115|            0|            0|
|    197|           70|           45|
|    125|           96|            0|
+-------+-------------+-------------+
only showing top 10 rows

In [ ]:
sqlc.sql("select * from diabeticview where Glucose>180 and BloodPressure>100").show(10)

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          0|    189|          104|           25|      0|34.3|                   0.435| 41|      1|
|          4|    189|          110|           31|      0|28.5|                    0.68| 37|      0|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+

In [ ]:
sqlc.sql("select Outcome,count(*) from diabeticview group by Outcome").show()

+-------+--------+
|Outcome|count(1)|
+-------+--------+
|      0|     509|
|      1|     286|
+-------+--------+

In [ ]:
simpleData=[("james","sales",3000),
            ("michal","sales",4600),
            ("robert","sales",4100),
            ("maria","finance",3000),
            ("james","sales",3000),
            ("scout","finance",3300),
            ("jeff","marketing",3000),
            ("kumar","marketing",2000),
            ("safi","sales",4300)]
schema=["employee_name","department","salary"]
df=spark.createDataFrame(data=simpleData,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|james        |sales     |3000  |
|michal       |sales     |4600  |
|robert       |sales     |4100  |
|maria        |finance   |3000  |
|james        |sales     |3000  |
|scout        |finance   |3300  |
|jeff         |marketing |3000  |
|kumar        |marketing |2000  |
|safi         |sales     |4300  |
+-------------+----------+------+

In [ ]:
df.createOrReplaceTempView("empview")
from pyspark.sql import SQLContext
sqlc=SQLContext(sc)
sqlc.sql("select * from empview").show(10)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        james|     sales|  3000|
|       michal|     sales|  4600|
|       robert|     sales|  4100|
|        maria|   finance|  3000|
|        james|     sales|  3000|
|        scout|   finance|  3300|
|         jeff| marketing|  3000|
|        kumar| marketing|  2000|
|         safi|     sales|  4300|
+-------------+----------+------+

In [ ]:
sqlc.sql("select department,sum(salary) from empview group by department").show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|   finance|       6300|
|     sales|      19000|
| marketing|       5000|
+----------+-----------+